html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: "tnum";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #e5bbbb;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  position: relative;
}

li {
  list-style: none;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.chosen {
  color: transparent;
  background-color: transparent;
  border: 1px dashed #1984ff;
}

.selected {
  background-color: skyblue;
}

.handle {
  cursor: grab;
}

/* tabs */
.tabs {
  text-align: center;
}

.tabs-item {
  position: relative;
  font-weight: 600;
  font-size: larger;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  vertical-align: middle;
  max-width: 360px;
  min-width: 90px;
  min-height: 48px;
  padding: 12px 16px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.tabs-item:not(:last-child) {
  margin-right: 20px;
}

.active-tab {
  color: #409eff;
  border-color: #c6e2ff;
  font-weight: 600;
}

.active-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgb(25, 118, 210);
}

/* list */
.list {
  width: 400px;
  height: 600px;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  overflow: auto;
}

.list-item {
  position: relative;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 2px 10px -5px #57bbb4;
}

.horizontal-list {
  display: flex;
  width: auto;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 650px;
  height: 600px;
}

.grid-list .list-item {
  max-width: 100px;
  height: fit-content;
}

.group-list {
  width: 950px;
  margin: 0 auto;
  justify-content: space-between;
}

.group-list .list {
  width: 19%;
}

#nested {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0,0,0,.125);
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.nested-1 {
  background-color: #e6e6e6;
}

.nested-2 {
  background-color: #cccccc;
}

.nested-3 {
  background-color: #b3b3b3;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#nestedDemo div, .nested-1, .nested-2, .nested-3 {
  margin-top: 5px;
}